# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/
*.egg
*.log

# Virtual Environment
env/
venv/
ENV/
.venv/
.ENV/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# === Java ===
*.class
*.jar
*.war
*.ear

# Maven/Gradle
target/
build/
out/

# IDE settings
*.iml
.idea/
*.classpath
*.project
.settings/

# OS files
.DS_Store
Thumbs.db
